<header class="app-bar">

  <a data-test="title-route" routerLink="/">
    <h1 data-test="app-title" class="app-bar-title">
      Where in the world?
    </h1>
  </a>
  <ul class="app-bar-list">
    <li>
      <button data-test="app-button" class="app-bar-button" type="button" (click)="toggleTheme()" mat-button>
        <mat-icon data-test="moon-icon" *ngIf="isDarkTheme" class="mat-icon-15" fontSet="material-icons-outlined">
          nightlight_round</mat-icon>
        <mat-icon data-test="moon-icon" *ngIf="!isDarkTheme" class="mat-icon-15" fontSet="material-icons-outlined">
          nightlight</mat-icon>
        Dark Mode
      </button>
    </li>
  </ul>

</header>
