<a [routerLink]="country?.names?.common" data-test="country-link" class="link">
  <div class="card">
    <img data-placeholder-background="grey" class="lozad" [attr.data-src]="country?.flag?.url_svg"
      [alt]="country?.names?.common" width="250" alt="">
    <div class="card-details">
      <h2 data-test="country-name">{{country?.names?.common}}</h2>
      <div>
        <p>Population:
          <span data-test="country-population">
            {{country?.population | number}}
          </span>
        </p>

        <p>Region:
          <span data-test="country-region">
            {{country?.region}}
          </span>
        </p>

        <p>Capital:
          <span data-test="country-capital">
            {{country?.capitals?.[0]?.name}}
          </span>
        </p>

      </div>
    </div>

  </div>
</a>
