$white: #fff;
$dark-mode-elements-blue: hsl(209, 23%, 22%);
$dark-mode-background-blue: hsl(207, 26%, 17%);
$light-mode-text-blue: hsl(200, 15%, 8%);
$light-mode-input-gray: hsl(0, 0%, 52%);
$light-mode-background-gray: hsl(0, 0%, 98%);
